#mycomment {
	margin-top: 40px;
	height: 150px;
	width: 80%;
	font-size: 18px;
	border-radius: 20px;
}

#mycomment:focus {
	border-radius: 20px;
	border: 1px solid #0000CD;
}

a.release {
	width: 120px;
	height: 40px;
	font-size: 20px;
	float: right;
	margin-right: 200px;
	color: #8B6969;
	background-color: #66CD00;
	transition: 0.2s ease-out;
	-moz-transition: 0.2s ease-out;
	-webkit-transition: 0.2s ease-out;
}

a.release:hover {
	transform: scale(1.2);
	-ms-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	background-color: #7FFF00;
	color: #000000;
}